// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.green {
  background-color: #4caf50;
}

.yellow {
  background-color: #ffeb3b;
}

.orange {
  background-color: #ff9800;
}

.red {
  background-color: #f44336;
}

.purple {
  background-color: #ab47bc;
}

.maroon {
  background-color: #8d6e63;
}

.gray {
  background-color: #bdbdbd;
}
